 body{
    font-family: 'Poppins', sans-serif;
    
 }
 
 h2{

    color: #3A3A3A;
    font-size: 24px;
    margin-left: 110px;
}

.header-section-one h1{
    color: #3A3A3A;
    font-size: 52px;
    position: absolute;
    left: 113px;
    width: 50%;

}
.paragraph-area{
    font-size: 16px;
    color: #3A3A3A;
    position: absolute;
    left: 8.33%;
    top: 40.13%;
    width: 40%;
}
.button{
    background: #E02C6D;
    border-radius: 41px;
    position: absolute;
    width: 196px;
    left: 120px;
    top: 285px;
    color:#FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-top: 110.1px;
    padding: 10px;
}
fa-arrow-right{
    width: 24px;
    color:#FFFFFF;
}
.header-section-two img{
    position: absolute;
width: 440px;
height: 414px;
left: 800px;
}
.head{
    display: flex;
    
}
.middle-sectioin h3{
    margin-top: 500px;
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
}
.image{
    width: 300px;
   height: 256px;
   
   
}
.image-detail{
  font-size:28px;
  font-weight: 500;
  color: #18191F;
  margin-right: 20px;
  
}
.rate{
    font-size: 24px;
    line-height: 0.5px;
    margin-right: 20px;
    
}
.fa-star{
    width: 16px;
    height: 16px;
    color: #FB8200;
    
    
    
}

span{
    margin-left: 5px;
}
.rating-one p{
    font-size: 14px;
    color: #787885;
}
.middle-section-one{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    margin-left: 180px;
    grid-gap: 10px;
    grid-row-gap: 5px;
    
    
}
.little-section{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    margin-right: 60px;
}
.image-title{
    padding: 2px;
}
.image-one{
    position: absolute;
    width: 404px;
    height: 270px;
    left: 165px;
    margin-top: 60px;
}
.bottom-section{
    display: flex;
    
    
}
.bottom-image{
    width: 100%;
}
.bottom-paragraph{
    margin-left: 110px;
    width: 50%;
}
.bottom-detail{
    margin-top: 80px;
}
.bottom-button{
    margin-left: 110px;
    background: #E02C6D;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.footer-section{
    text-align: center;
    background-color: #0A0826;
    color: 
    #FFFFFF;
    width: 1440px;
    height: 239px;
}
.footer-title{
    color:#FFFFFF; 
    font-size: 24px;
    
}



